<div class="row">
    <div class="row">
      <div class="small-12 columns section-header">
        <h4 class="avenir-header workout-title">Notifications</h4>
      </div>
    </div>
    <div class="row">
      
		<% if @pending_tagalongs.length != 0 %>
			<% @pending_tagalongs.each do |pt| %>
			<% if pt.approved.nil? || pt.approved == false %> 
			<%= link_to edit_tagalong_path(id: pt.id, status: "approved") do %><div class="button round expand notification-button">
				<div class="small-9 columns">
					<h6><%= pt.user.proper_name.to_s %> wants to join you on <%= pt.post.title %> on <%= pt.post.datetime %>. Is that ok?</h6>
				</div>
				<div class="small-1 ends columns">
		                  <%= image_tag 'checkmark_empty.png', class: 'checkmark' %>	
				</div>
			</div> <% end %> <% end %>
			<% end %>

		<% else %>
		 <div class="small-12 columns">
		 	<h4>All done! No requests left to approve.</h4>
      	</div>
		<% end %>
    </div>
</div>
