<div class="row">
	<div class="small-12 columns section-header">
        <h4 class="avenir-header">Post a Workout</h4>
     </div>
		<%= simple_form_for @post do |f| %>
		<div class="row">
			<div class="small-12 columns">
			  <%= f.input :title %>
			</div>
		</div>
		  <%= f.input :topic %>
		  <%= f.input :date, as: :string, start_date: Date.today, input_html: {class: "datepicker"} %>
		  <%= f.input :start_time %>
		  <%= f.input :expected_duration_hr, label: "Hour" %>
		  <%= f.input :expected_duration_min, label: "Min" %>
		  <%= f.input :details %>
		  <%= f.input :cancelled %>
		  <%= f.input :estimated_difficulty %>
		  <%= f.button :submit, :class => "round tagalong-button fix-button" %>
		  <%= link_to "Back", posts_path, :class => 'button round snag-button fix-button' %>
		<% end %>
</div>

