<h2> Details: </h2> 
<p> Title: <%= @post.title %> </p>
<p> Owner: <%= link_to @post.user.proper_name, user_path(@post.owner_id) %> </p> 
<p> Topic: <%= @post.topic %> </p>
<p> Begins: <%= @post.datetime %> </p>
<p> Expected Duration: <%= @post.expected_duration_hr %> Hours <%= @post.expected_duration_min %> Minutes</p>
<p> Details: <%= @post.details %> </p>
<p> Cancelled: <%= @post.cancelled %> </p>
<p> Estimated Difficulty: <%= @post.estimated_difficulty %> </p>

<h2> Tagalongs: </h2>
<% @post.tagalongs.each do |tagalong| %>
  <div style="border:1px solid black">
    <p><%= tagalong.user.first_name %> <%= tagalong.user.last_name%></p>
    <% if current_user.id == @post.owner_id %> 
      <%= simple_form_for tagalong do |f| %>
        <p>Showed Up? <%= tagalong.showed_up %>
          <%= f.hidden_field :showed_up, value: !tagalong.showed_up %>
        <%= f.button :submit, value: "Toggle Showed Up" %> </p>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if !(Tagalong.exists?(:user_id => current_user.id, :post_id => @post.id )) && current_user.id != @post.owner_id %>
  <%= render partial: "addtagalong_form", locals: { post: @post} %>
<% end %>

<%= link_to "Back", posts_path %>